<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true"
		 beStrictAboutTestsThatDoNotTestAnything="true" beStrictAboutOutputDuringTests="true"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
		 bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="Dodo Tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
<!--
This is putting absolute paths in the log.xml file, which means they
show up as changed/different for every user who regenerates this file.
Commenting out until I can figure out how best to fix this issue.
	<logging>
		<log type="junit" target="tests/log.xml"/>
	</logging>
-->
</phpunit>
